<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web App</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@latest/dist/leaflet.css" />
    <link rel="stylesheet" href="/features/fullscreen/Control.FullScreen.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="searchBar.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://unpkg.com/leaflet@latest/dist/leaflet.js"></script>
    <script src="/features/fullscreen/Control.FullScreen.js"></script>
</head>

<body>
<div id="leaflet-map"></div>
<script src="../static/js/script.js"></script>
</body>
</html>